/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gutenberg-slider-gutenberg-slider {
	border: 1px dotted #f00;
}

.wp-block-gavflab-gutenberg-slider {
	max-width: 100% !important;
	overflow: hidden;
}

.gutenslider-thumbnails {
	max-height: 200px;
	height: 100%;
}

.gutenslider-thumbnails-inner__container {
	height: 200px;
}

.gutenberg_slider_slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.gutenslider-thumbnails-inner__container .wp-block-cover {
	min-height: 200px;
	height: 200px;
}

.slider_wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}


.flex {
	display: flex;
	flex-direction: column;
}

.wp-block-gavflab-gutenberg-slider .swiper-wrapper {
	overflow: auto;
	display: flex;
	height: 100%;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.wp-block-gavflab-gutenberg-slider .swiper-wrapper > div:not(.block-list-appender) {
	scroll-snap-align: start;
	height: 100%;
}

.height_unit_control {
	display: flex;
}

.gutenslider-thumbnails-inner__container .edit_slide {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 999999;
}

.edit_main-slider {
	width: 100%;
	justify-content: center;
}

.gutenslider-thumbnails-inner__container .editor-styles-wrapper {
	background: transparent;
	color: inherit;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.slider-actions:hover {}

.slider-actions {
	margin-top: 10px;
	display: flex;;
	justify-content: center;
	gap: 10px;	
	cursor: pointer;
}

.slider-actions button {
	all: unset;
	background: #000;
	color: #FFF;
	padding: 2px 10px;
	border-radius: 5px;
}

.gutenslider-thumbnails-inner__container .editor-styles-wrapper h1,
.gutenslider-thumbnails-inner__container .editor-styles-wrapper h2,
.gutenslider-thumbnails-inner__container .editor-styles-wrapper h3,
.gutenslider-thumbnails-inner__container .editor-styles-wrapper h4,
.gutenslider-thumbnails-inner__container .editor-styles-wrapper h5,
.gutenslider-thumbnails-inner__container .editor-styles-wrapper h6,
.gutenslider-thumbnails-inner__container .editor-styles-wrapper p {
	font-size: 1rem !important;
	margin-bottom: 5px !important;
}

.gutenslider-thumbnails-inner__container .wp-block-buttons {
	display: flex !important;
	gap: 1rem !important;
}

.gutenslider-thumbnails-inner__container .wp-element-button {
	padding: 5px !important;
	font-size: 0.5rem !important;
}

.slider_empty {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
	background-image: url('bg.png');
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.video-placeholder {
	background-image: url('video-placeholder.webp');
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
	height: 100%;
	width: 100%;
}

.slider_empty span {
	margin-bottom: 15px;
}

.color-selector {
	all: unset;
	display: flex;
	border: 1px solid #ddd;
	padding: 6px 12px;
	width: 100%;
	box-sizing: border-box;
	gap: 10px;
	cursor: pointer;
}

.color-selector:hover {
	color: var(--wp-admin-theme-color,#3858e9)
}

.components-dropdown {
	width: 100%;
}

.color-swatch {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.middle-center {
	justify-content: center;
	align-items: center;
}

.middle-left {
	justify-content: center;
	align-items: start;
}

.middle-right {
	justify-content: center;
	align-items: end;
}

.middle-bottom {
	justify-content: end;
	align-items: center;
}

.bottom-left {
	justify-content: end;
	align-items: start;
}

.bottom-right {
	justify-content: end;
	align-items: end;
}


.slides-1-1 .gutenberg_slider_slide {
	min-width: calc(100%/1)
}

.slides-1-2 .gutenberg_slider_slide {
	min-width: calc(100%/2)
}

.slides-1-3 .gutenberg_slider_slide {
	min-width: calc(100%/3)
}

.slides-1-4 .gutenberg_slider_slide {
	min-width: calc(100%/4)
}

.slides-1-5 .gutenberg_slider_slide {
	min-width: calc(100%/5)
}

.slides-1-5 .gutenberg_slider_slide {
	min-width: calc(100%/6)
}

.swiper-wrapper .components-placeholder  {
	height: 100% !important;
	display: flex;
  	justify-content: center;
  	align-items: center;

	& .components-placeholder__fieldset {
		justify-content: center;
	}
}
