/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 
.wp-block-gutenberg-slider-gutenberg-slider {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}


swiper-slide {
	position: relative;
	display: flex;
	height: 600px;
}

.swiper-content {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	width: 100%;
}

.swiper-media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.swiper-media video {
	object-fit: cover;
	display: block;
}

.swiper-media img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


.middle-center {
	justify-content: center;
	align-items: center;
}

.middle-left {
	justify-content: center;
	align-items: start;
}

.middle-right {
	justify-content: center;
	align-items: end;
}

.middle-bottom {
	justify-content: end;
	align-items: center;
}

.bottom-left {
	justify-content: end;
	align-items: start;
}

.bottom-right {
	justify-content: end;
	align-items: end;
}

.slides-1-1 .gutenberg_slider_slide {
	min-width: calc(100%/1)
}

.slides-1-2 .gutenberg_slider_slide {
	min-width: calc(100%/2)
}

.slides-1-3 .gutenberg_slider_slide {
	min-width: calc(100%/3)
}

.slides-1-4 .gutenberg_slider_slide {
	min-width: calc(100%/4)
}

.slides-1-5 .gutenberg_slider_slide {
	min-width: calc(100%/5)
}

.slides-1-5 .gutenberg_slider_slide {
	min-width: calc(100%/6)
}